{% extends "base.html" %}
{% block title %}Delete Account Confirmation{% endblock %}
{% block content %}

<style>
    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>
    <div class="container">
        <div>
            <h3 class="mb-4">Delete Account</h3>
            <p>You have now deleted your account</p>
        </div>
    </div>
{% endblock %}







